<clr-datagrid>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Body</clr-dg-column>

  <clr-dg-row *clrDgItems="let post of (posts$ | async)" [clrDgItem]="post">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="viewPost(post.id)">View</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{post.title}}</clr-dg-cell>
    <clr-dg-cell>{{post.body}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{(posts$ | async)?.length}} Tournaments
    <clr-dg-pagination #pagination [clrDgTotalItems]="(posts$ | async)?.length" [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
